astroid==1.4.8
cycler==0.10.0
dask==0.12.0
decorator==4.0.10
defusedxml==0.4.1
Django==1.10.3
django-allauth==0.28.0
django-bootstrap-form==3.2.1
django-filter==0.15.3
djangorestframework==3.5.3
isort==4.2.5
lazy-object-proxy==1.2.2
Markdown==2.6.7
matplotlib==1.5.3
mccabe==0.5.2
networkx==1.11
numpy==1.11.2
oauthlib==2.0.0
Pillow==3.4.2
pkg-resources==0.0.0
psycopg2==2.6.2
pylint==1.6.4
pylint-django==0.7.2
pylint-plugin-utils==0.2.4
pyparsing==2.1.10
python-dateutil==2.6.0
python3-openid==3.0.10
pytz==2016.7
requests==2.11.1
requests-oauthlib==0.7.0
scikit-image==0.12.3
scipy==0.18.1
six==1.10.0
toolz==0.8.0
wrapt==1.10.8
