{% extends 'base/master.html' %}
{% block content %}
<div ng-controller="dashboardController">
    <h2>User Dashboard</h2>
    {% if user.is_authenticated %}
      {% if not user.developer %}

        <div class="form-group">
          <a href="http://{{request.get_host}}/developer" class="btn btn-primary">Become a Developer</a>
        </div>
      {% else %}
      <div class="form-group">
        <a href="http://{{request.get_host}}/developer" class="btn btn-primary">Developer Console</a>
      </div>
      {% endif %}
    {% endif %}


    <div class="form-group">
        <a href="http://{{request.get_host}}/upload" class="btn btn-success">Upload Pix</a>
    </div>
    <h3>Your Uploaded Pictures</h3>
    <div class="row">
        <div class="col-sm-3" ng-repeat="userImage in userImages">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title" ng-bind="userImage.display_name"></h3>
                </div>
                <div class="panel-body">
                  {% verbatim %}
                  <a href="#" ng-href="{{userImage.link}}">
                    <img ng-src="{{userImage.image}}" class="img img-responsive" alt="" />
                  </a>
                    {% endverbatim %}

                </div>
            </div>
        </div>
    </div>

    <h3>Public Pictures</h3>
    <div class="row">
        <div class="col-sm-3" ng-repeat="publicImage in publicImages">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" ng-bind="publicImage.display_name"></h3>
                </div>
                <div class="panel-body">
                  {% verbatim %}
                  <a href="#" ng-href="{{publicImage.link}}">
                    <img ng-src="{{publicImage.image}}" class="img img-responsive" alt="" />
                  </a>
                    {% endverbatim %}
                  </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}
