{% extends 'base/master.html' %}
{% block content %}
{% load account %}

{% if user.is_authenticated %}
<p>Welcome, {{ user.first_name }}. Thanks for logging in.</p>
{% else %}
<p>Welcome, new user. Please log in.</p>
{% endif %}
<div ng-controller="dashboardController">
    <h2>User Dashboard</h2>
    <div class="form-group">
        <a href="http://{{request.get_host}}/upload" class="btn btn-success">Upload Pix</a>
    </div>
    <h3>Your Uploaded Pictures</h3>
    <div class="row">
        <div class="col-sm-3" ng-repeat="userImage in userImages">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>

    <h3>Public Pictures</h3>
    <div class="row">
        <div class="col-sm-3" ng-repeat="userImage in publicImages">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}
