{% extends 'base/master.html' %}
{% block content %}
<div ng-controller="developerController">
    <h2>Developer Console</h2>
    {% if user.is_authenticated %}
      {% if not user.developer %}
      <h2>Not Yet a Developer? Become One!</h2>
      <div class="modal" style="display: block; position: static;">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="box-shadow: none;">
      <div class="modal-header">
        <h4 class="modal-title">Click Confirm to Become a Developer!</h4>
      </div>
      <div class="modal-body">
        <p>Developer comes with API privileges</p>
      </div>
      <div class="modal-footer">
        <a href="http://{{request.get_host}}/dashboard" class="btn btn-warning" data-dismiss="modal">Back</a>
        <button type="button" class="btn btn-primary" ng-click="becomeDeveloper()">Confirm</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
      {% else %}
      <div class="form-group">
        <a href="http://{{request.get_host}}/create-api-key" class="btn btn-success">Create New API Key</a>
      </div>
      <table class="table table-hover">
    <thead>
      <tr>
        <th>API Key</th>
        <th>Sources</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td><button type="button" name="button" class="btn btn-warning">Refresh</button></td>

        <td><button type="button" name="button" class="btn btn-danger">Delete</button></td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td><button type="button" name="button" class="btn btn-warning">Refresh</button></td>

        <td><button type="button" name="button" class="btn btn-danger">Delete</button></td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td><button type="button" name="button" class="btn btn-warning">Refresh</button></td>

        <td><button type="button" name="button" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
      {% endif %}
    {% endif %}



</div>
{% endblock %}
